@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@900&family=Xanh+Mono:ital@1&display=swap');
body{
    background-color: rgba(48, 65, 65, 0.089);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
header{
    height:5rem;
    width: 100%;
    margin-bottom: 2rem;
    background-color: white;
    border-bottom:solid 1px lightgray ;
}
header span{
    position: absolute;
    right: 5%;
    top: 7%;
}
h1{
    font-family: 'Xanh Mono', monospace;
    font-size: 3rem;
    font-weight: bold;
    color:black;
    letter-spacing:5px;
    text-shadow: 1.5px 1.5px 1.5px rgb(160, 158, 158);
    margin: 0;
    position: absolute;
    left: 5%;
}
main{
    width: 100%;
    height: 100%;
}
.buttom3d {
    text-decoration: none;
    font-weight: bold;
    font-size: 37px;
    color: #799dec;
    text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.32), 0px 1px 0px #6182ca, 0px 2px 0px #4f6aa7, 0px 3px 0px #5470ad;
}
.buttom3d:active {
    top: 4px;
    text-shadow: none;
}
/* 画面切り替えのため（表示・非表示） */
.content {
    display: none;
    width: 50%;
}
.content.active {
    display: block;
    width: 50%;
    position: relative;
    left: 30%;
}
/* メニュー画面 */
.tab{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 20%;
    left: 50%;
    right: 0;
    margin: 0;
}
.tab li{
    width: 300px;
	height: 60px;  
    margin-bottom: 3em;
}
.tab a{
    font-weight: bold;
}
/* タイムライン */

#list p{
    font-size: 1.5rem;
}
#list ul{
    margin-top: 4rem;
    margin-bottom: 3rem;
}

.timelineitem {
    width: 100%;
    height: 20rem;
    background-color: white;
    border: solid 1px lightgray;
    margin-bottom: 2rem;
    position: relative;
    left: -30%;
}
.timelineitem header{
    margin: 0;
    height: 15%;
}
.timelinecontent{
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.timelinecontent ul{
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 0;
}
.timelinecontent ul li{
    margin-top: 0.8rem;
}
.timelinecontent ul:nth-child(2){
    left: 0;
    margin-left: 3rem;
}
.timelinecontent ul:nth-child(3){
    left: 30%;
}
.timelinecontent ul:nth-child(4){
    left: 60%;
}
.timelinecontent ul:nth-child(4) li{
    margin: 0;
}
.timelinecontent ul:nth-child(4) div{
    width: 15rem;
    height: 10rem;
    font-size: 13px;
}
.getday{
    font-size: 0.8rem;
    font-weight: bold;
    text-align: start;
    width: 100%;
    margin: 0;
    position: absolute;
    bottom: 0.5rem;
    left: 0;
}
.listfreetext{
    margin-bottom: 1.5rem;
}
.clear{
    top: 0.5rem;
    right: 1rem;        
    font-size: 1rem;
    width: 5rem;
    background-color:  #141414;
    border-radius: 100vh;
    color: white;
    position: absolute;
}
.clear:active{
    transform: translateY(5px);
  	border-bottom: none;
}
/* モーダルウィンドウ */
.modal{
    height: 20rem;
    position: fixed;
    top: 0;
    width: 50rem;
    z-index: 10;
}
/* モーダルウィンドウ(消去確認) */
.modal-content{
    background: rgba(0,0,0,0.8);
    padding: 40px;
    position: absolute;
    left: 40%;
    top: 50%;
    width: 11rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-close{
    color: white;
    font-size: 1.5rem;
}
/* マイページ：保存 */
button{
    background-color: rgb(101, 245, 5);
    color: white;
    font-size: 18px;
    font-weight: bold;
    width: 10em;
    height: 3em;
    border: solid 0.5px rgb(101, 245, 5);
    border-bottom: solid 6px rgb(57, 138, 3);
    border-radius: 100vh;
    outline: none; 
    margin: 2rem;
}
button:active{
    transform: translateY(4px);
  	border-bottom: none;
}
input{
    width: 30rem;
    height: 2rem;
    font-size: 1.5rem;
    border: solid;
    background-color: lightgray;
    z-index: 5;
}
select{
    width: 30.63rem;
    height: 2.63rem;
    font-size: 1.5rem;
    border: solid;
    background-color: lightgray;
}

.freetext textarea{
    width: 30rem;
    height: 15rem;
    font-size: 1.5rem;
    border: solid;
    background-color: lightgray;
}
/* 検索画面 */
.kensakuitem{
    background-color:white;
    margin-top: 3rem;
    width: 100%;
    height: 30rem;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.kensakuitem span{
   margin-top: 2rem;
}
.kensakuitem span input{
    background-color: white;
    border: solid 2px;
}
.kensakudata p{
    font-size: 1.5rem;
}

/* マップ画面 */
.map{
    height: 400px;
    width: 100%;
    margin: 0;
    padding: 0;

}

